body {
    
    background-image: url("https://www.morphcast.com/wp-content/themes/morphcast/dist/images/morphcast-intro-light_0b88c4f2.jpg");
    font-family: sans-serif;
    
}

p{
    color: white;
    
}
.relleno{
    display: none;
}
#detener{
    position: absolute;
    left: 1400px;top: 150px;
}
#tituloRegistro{
    position: relative;
    left: 680px;
    color: white;
}
.containerTitulo{
    position: relative;
    left: -680px;top: -20px;
    width: 100%;
    height: 100px;
    background-color: black;
}
#registroTitulo{
    position: relative;left: 720px;top: 30px;
}
img{
    position: relative;
    left: 1200px;top: -900px;
}